.hero {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: rgb(3, 3, 20);
}

.background-media {
  width: 100;
  height: auto;
  background-size: cover;
}

.hero-content {
  align-items: center;
  color: white;
}

.hero-heading {
  font-size: 3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  margin-top: 0px;
}

.hero-subheading {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #2ecc71;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #27ae60;
}
